Pillow==12.3.0
psutil==7.2.2
ping3==5.1.5
pyserial==3.5
numpy==2.2.6
PySide6==6.8.3
pythonnet==3.0.5
PyAudioWPatch==0.2.12.8; sys_platform == "win32"
winrt-runtime==3.2.1; sys_platform == "win32"
winrt-Windows.Media.Control==3.2.1; sys_platform == "win32"
winrt-Windows.Devices.Enumeration==3.2.1; sys_platform == "win32"

